#footer {
  background: black;
  margin-top: 21px;
  height: 316px;
  padding-top: 81px;
  padding-bottom: 5%;
  .row.region.region-footer {

    a{
      margin-right: auto;
      margin-left: auto;
      img{
        width: 135px;
      }
    }
    .navigation{
      ul{
        li{
          a{
            color: white;
          }
        }
      }
    }
    //menu links
    #block-footer {
      width: 100%;
      .navbar-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 29px;
        &:after {
          content: none;
        }
        li {
          margin: 5px 27px;
          font-size: 13px;
          a {
          }
        }
      }
    }
  }
}
// All rights reserved with logo.
#footer{
  .footer-reserved{
    text-align: center;
    margin-top: 15px;
    img{
      width: 11px;
      height: auto;
    }
    a{
      text-decoration: none;
      color: white;
      font-size: 11px;
      margin-right: 3px;
    }
  }
}
